<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="seatBookingForm" styleClass="basicform">
		<p:panelGrid columns="1">
			<p:panel>
				<p:dataTable id="bookingTable" var="seats" scrollable="true" scrollHeight="393" value="#{bookingController.allSeats}">
					<p:column headerText="Platsnummer" class="centeredColumn">
						<h:outputText value="#{seats.seatNumber}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<f:facet name="footer">
				<p:messages id="bookingMessage" showDetail="true" autoUpdate="true" closable="true" />
			</f:facet>
		</p:panelGrid>
	</h:form>
	
</ui:composition>